:root{
    --primary-color: #000;
    --secondary-color: #ffff;
    --font-h1: 'Anton', sans-serif;
    --font-p:'Poppins', sans-serif;
    --font-h2-h3:'Oswald', sans-serif;
    --font-h4-h5:'Roboto Condensed', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: scroll;
}
.hidden{
    display: none !important;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    margin-top: 10px;
    font-family: var(--font-h4-h5);
    position: fixed;
    z-index: 1111;
}
nav .home-logo{
    width: 80px;
    height: 80px;
    margin-left: 100px;
}
nav .home-logo img{
    width: 100%;
    height: 100%;
}
nav .navigation{
    width: 70%;
    height: 90%;
    background-color: rgba(100, 97, 97, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
    padding: 0 20px;
}
nav .navigation::before{
    content: "";
    width: 25%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: -300px;
}
nav .navigation ul{
    display: flex;
    flex:1 0 100px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
nav .navigation ul li{
    list-style: none;
    text-transform: uppercase;
}
nav .navigation ul li:nth-child(1)::before{
    content: "00";
    color: var(--secondary-color);
    margin-right: 10px;
    letter-spacing: 2px;
}
nav .navigation ul li:nth-child(2)::before{
    content: "01";
    color: var(--secondary-color);
    margin-right: 10px;
    letter-spacing: 2px;
}
nav .navigation ul li:nth-child(3)::before{
    content: "02";
    color: var(--secondary-color);
    margin-right: 10px;
    letter-spacing: 2px;
}
nav .navigation ul li:nth-child(4)::before{
    content: "03";
    color: var(--secondary-color);
    margin-right: 10px;
    letter-spacing: 2px;
}
nav .navigation ul a{
    color: var(--secondary-color);
    text-decoration: none;
    letter-spacing: 3px;
    padding: 28px 0;
}
nav .navigation ul a:hover{
    border-bottom: 3px solid var(--secondary-color);
    transform: scale(1.15);
}
nav .navigationMobile{
    display: none;
}
.menuIcon{
    position: absolute;
    right: 50px;
    width: 40px;
    height: 35px;
    display: none;
}
.menuIcon img{
    width: 100%;
    height: 100%;
}
.home{
    width: 100%;
    height:100vh;
    padding: 15em 15em  0 15em;
    display: flex;
    background: url('./assets/home/background-home-desktop.jpg') no-repeat center / cover;
}
.home .content-text{
    width: 100%;
    min-height: 100px;
    color: var(--secondary-color);
    padding-top: 40px;
}
.home .content-text h1{
    font-size: 170px;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: var(--font-h1);
    margin: 30px 0;
}
.home .content-text h4{
    font-size: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family:var(--font-h4-h5)
}
.home .content-text h5{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 40px;
    font-family:var(--font-p);
    min-height: 100px;
}
.home > .content-text{
    transform: translateX(20px);
    transition: transform 0.7s ease-in-out;
}
.content-text > h1{
    text-shadow: 0 0 2rem rgba(236, 77, 77, 0.5);
    animation: contenttexth1 1s ease-in-out;
}
@keyframes contenttexth1 {
    from{
        opacity: 0;
        transform: translateX(-35px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.content-text > h4{
    text-shadow: 0 0 2rem rgba(236, 77, 77, 0.5);
    animation: contenttexth4 1s ease-in-out;
}
@keyframes contenttexth4 {
    from{
        opacity: 0;
        transform: scaleX(0.5);
    }
    to{
        opacity: 1;
        transform: scaleX(1.02);
    }
}
.content-text > h5{
    text-shadow: 0 0 2rem rgba(236, 77, 77, 0.5);
    animation: contenttexth5 1s ease-in-out;
}
@keyframes contenttexth5 {
    from{
        opacity: 0;
        transform: translateY(-40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.home .ExploreIcon{
    margin-top: 50px;
    width: 400px;
    height: 400px;
    margin-left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.home .ExploreIcon .content-explore{
    width: 200px;
    height: 200px;
    background-color: var(--secondary-color);
    border: 4px solid rgba(100, 97, 97, 0.4);
    border-radius: 50%;
    animation: dropDown 1s ease-in-out;
}
@keyframes dropDown {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.ExploreIcon .content-explore:hover{
    box-shadow: 0 0 5rem rgba(72, 180, 121, 0.5);
}
.ExploreIcon .content-explore h5{
    position: relative;
    top: 50%;
    left: 72%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    letter-spacing:2.5px;
    font-family: var(--font-h1);
    text-transform: uppercase;
    color:#000;
}

/* Destinaton section */

.destination{
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background:url('./assets/destination/background-destination-desktop.jpg') no-repeat center / cover;
    padding: 200px 200px 90px 200px;
    gap: 30px;
}
.destination h4{
    font-size: 32px;
    font-family: var(--font-h4-h5);
    color: var(--secondary-color);
    letter-spacing: 2.4px;
    text-transform: uppercase;
}
.destination .destinationcontent{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 500px;
    margin-top: 50px;
}
.destinationcontent .planetIcon{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: url('./assets/destination/moon.jpg') repeat-x center / cover;
    animation: moon-rotation 30s linear infinite, ZoomIN 1s ease-in;
    box-shadow: inset 60px 0 40px black,
                inset 160px 0 60px rgba(0, 0, 0, .9),
                inset -160px 0 60px rgba(248, 248, 213, 0.2);
}
.planetIcon:before {
    content: "";
    position:inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 595px;
    height: 595px;
    box-shadow: -60px 0 50px black;
}

@keyframes moon-rotation {
    from {
        background-position: -500px center;
    }
    to {
        background-position: 496px center;
        }
}

@keyframes ZoomIN {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
        }
}
.planetIcon:hover{
    transform: scale(1.3);
    transition: transform 0.6s ease-in-out;
}
.destinationcontent .destinationNavigation{
    width: 700px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}
.destinationNavigation .navbar{
    width: 100%;
    height: 100px;
    animation: TranslateY 1s ease-in;
}
@keyframes TranslateY {
    from{
        opacity: 0;
        transform: translateY(-30px);
    }
    to{
        opacity:1 ;
        transform: translateY(0);
    }
}
.destinationNavigation .contentbody{
    width: 100%;
    min-height: 100px;
    padding: 0;
}
.destinationNavigation .navbar ul{
    display: flex;
    gap: 30px;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 500;
    font-family: var(--font-h1);
    text-transform: uppercase;
}
.destinationNavigation .navbar li{
    list-style: none;
    text-align: center;
}
.destinationNavigation .navbar a{
    text-decoration: none;
    color: var(--secondary-color);
    line-height: 45px;
}
.destinationNavigation .navbar a.active {
    border-bottom: 3px solid rgba(241, 238, 238, 0.7);
}
.destinationNavigation .navbar a:hover{
    border-bottom: 3px solid var(--secondary-color);
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}
.destinationNavigation .navbar a:visited{
    border-bottom: 4px solid var(--secondary-color)
}
.destinationNavigation h2{
    margin: 30px 0;
    font-size: 70px;
    letter-spacing: 2.4px;
    text-shadow: 2px 0 var(--primary-color);
    font-family: var(--font-h2-h3);
    color: var(--secondary-color);
    text-shadow: 0 0 1.5rem rgba(129, 236, 115, 0.7);
}
.destinationNavigation p{
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font-p);
    letter-spacing: 2.5px;
    line-height: 30px;
    margin: 20px 0;
    color: var(--secondary-color);
    text-shadow: 0 0 1.5rem rgba(129, 236, 115, 0.7);
}
.destinationNavigation h5{
    font-size: 28px;
    font-weight: 500;
    font-family: var(--font-h4-h5);
    letter-spacing: 2.3px;
    line-height: 40px;
    width: 170px;
    color: var(--secondary-color);
    text-shadow: 0 0 1.5rem rgba(129, 236, 115, 0.7);
    width: 300px;
}
 .area-distance{
    display: flex;
    justify-content: space-between;
    padding-right: 200px;
    margin-top: 30px;
}
.contentbody h2{
    animation: transitionInH2 1s ease-in-out;
}
@keyframes transitionInH2 {
    from{
        opacity: 0;
        transform: translateY(-15px);
        text-shadow: 0 0 3rem rgba(129, 236, 115, 0.5);
    }
    to{
        opacity: 1;
        transform: translateY(0);
        text-shadow: 0 0 3rem rgba(129, 236, 115, 0.9);
    }
}
.contentbody p{
    animation: transitionIn-p 1s ease-in-out;
}
@keyframes transitionIn-p {
    from{
        opacity: 0;
        transform: translateX(-45px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.contentbody h5{
    animation: transitionIn-h5 1s ease-in-out;
}
@keyframes transitionIn-h5 {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.destination > .destination-first-h4{
    animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}


/* crew section */
.Crew{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: space-between;
    background:fixed url('./assets/crew/background-crew-desktop.jpg') no-repeat center / cover ;
    overflow: hidden;
    padding: 150px;
    padding-bottom: 0;
}
.Crew .crewBody{
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Crew .crewBody .crewbodycontent{
    width: 700px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}
.Crew .crewComander{
    width: 100%;
    min-height: 200px;
    padding: 20px;
}
.crewComander .crewcontentall{
    padding: 20px;
    min-height: 500px;
}
.crewComander h4{
    font-size: 32px;
    font-family: var(--font-h4-h5);
    color: var(--secondary-color);
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 50px;
    padding-left: 30px;
    animation: Fadein 1s ease-in;
}
@keyframes Fadein {
    from{
        opacity: 0;
        transform: scaleX(0.5);
    }
    to{
        opacity: 1;
        transform: scaleX(1);
    }
}
.crewComander h3{
    font-size: 24px;
    font-family: var(--font-h2-h3);
    color: var(--secondary-color);
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin: 40px 0;
}
.crewComander h1{
    font-size: 45px;
    font-family: var(--font-h1);
    color: var(--secondary-color);
    letter-spacing: 5px;
    text-shadow: 0 0 30px rgba(10, 23, 102, 0.8);
    text-transform: uppercase;
}
.crewComander p{
    font-size: 20px;
    font-family: var(--font-p);
    color: var(--secondary-color);
    letter-spacing: 2.4px;
    text-shadow: 0 0 30px rgba(10, 23, 102, 0.8);
    line-height: 35px;
    margin: 30px 0;
}
.crewbodycontent .crewnavigation{
    width: 100%;
    height: 60px;
    gap: 25px;
    padding-left: 30px;
    animation: scaling 1s ease;
}
@keyframes scaling {
    from{
        opacity: 0;
        transform: translateX(-30px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.crewnavigation button{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 5px solid rgb(134, 138, 129);
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}
.crewnavigation button:hover{
    background-color: #ffff;
    border: 5px solid #ffff;
    box-shadow: 0 0 3rem rgb(236, 118, 118);
}
.crewnavigation button.visits{
    background-color: #ffff;
    border: 5px solid #ffff;
    box-shadow: 0 0 3rem rgb(236, 118, 118);
}
.crewpictureforalignment{
    height: 100%;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.crewBody .crewPicture{
    width:100%;
    height: 500px;
}
.crewPicture .crewimage{
    width: 100%;
    height: 100%;
    background:url('./assets/crew/commander.jpg') no-repeat center/ contain;
    filter: drop-shadow(rgba(111, 199, 40, 0.1) 1px 10px 3rem);
    animation: crewanim 1s ease-in-out;;
    
}
@keyframes crewanim {
    from{
        opacity: 0;
        transform: translateX(-20px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.crewcontentall h1{
    animation: crewH1Fade 1s ease-in;
}
@keyframes crewH1Fade {
    from{
        opacity: 0;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.crewcontentall h3{
    animation: crewH3Fade 1s ease-in;
}
@keyframes crewH3Fade {
    from{
        opacity: 0;
        transform: translateX(-30px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.crewcontentall p{
    animation: crewpFade 1s ease-in;
}
@keyframes crewpFade {
    from{
        opacity: 0;
        transform: scale(0.7);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.crewcontentall > .crewimage{
    animation: delay 1s ease-in-out;
}
@keyframes delay {
    from{
        opacity: 0;
        transform: scale(0.5);
    }
    to{
        opacity: 1;
        transform: scale(1.01);
    }
}

/* End of crew section */

.technology{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: space-between;
    background:fixed url('./assets/technology/background-technology-desktop.jpg') no-repeat center / cover ;
    padding: 150px 100px 0 200px;
}
.technolgyBody{
    width: 100%;
    min-height: 500px;
    padding: 50px;
}
.navbarAndcontentarea{
    display: flex;
    justify-content: space-around;
}
.technolgyBody h4{
    font-size: 32px;
    font-family: var(--font-h4-h5);
    color: var(--secondary-color);
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 40px;
    width: 700px;
    height: 50px;
    animation: techh4 1s ease-in;
}
@keyframes techh4 {
    from{
        opacity: 0;
        transform: scaleY(0.2);
    }
    to{
        opacity: 1;
        transform: scaleY(1.2);
    }
}
.technolgyBody .technologycontent{
    display: flex;
    width: 50%;
    min-height: 200px;
    top: 100px;
}
.technolgyBody .techNavbar{
    width: 150px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
}
.technolgyBody .techNavbar button{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid rgba(69, 70, 68, 0.7);
    background-color: transparent;
    color: var(--secondary-color);
    font-size: 35px;
    font-weight: 600;
    font-family: var(--font-p);
    cursor: pointer;
    animation: buttonanim 1s ease-in;
}
@keyframes buttonanim {
    from{
        opacity: 0 ;
        transform: translateX(-50px);
    }
    to{
        opacity: 1 ;
        transform: translateX(0);
    }
}
.technolgyBody .techNavbar button:hover{
    background-color: var(--secondary-color);
    color: black;
    border: 5px solid black;
    box-shadow: 0 0 2em green;
}
.technolgyBody .techNavbar button.active{
    background-color: var(--secondary-color);
    color: black;
    border: 5px solid black;
    box-shadow: 0 0 2em green;
}
.technologycontentarea{
    width: calc(800px - 150px);
    min-height: 200px;
    padding: 10px;
    padding-bottom: 0;
}
.technologycontentarea h5{
    font-size: 23px;
    font: 500;
    font-family: var(--font-h4-h5);
    color: var(--secondary-color);
    letter-spacing: 5px;
    margin: 20px 0;
    text-transform: uppercase;
    animation: animh5 1s ease-in-out;
}
.technologycontentarea h2{
    font-size: 45px;
    font: 500;
    font-family: var(--font-h2-h3);
    text-transform: uppercase;
    color: var(--secondary-color);
    margin: 30px 0;
    letter-spacing: 2.5px;
    animation: animh2 1s ease-in;
}
.technologycontentarea p{
    min-height: 200px;
    font-size: 18px;
    font: 500;
    font-family: var(--font-p);
    color: var(--secondary-color);
    margin-top: 40px;
    letter-spacing:3px;
    line-height: 40px;
    animation: animp 1s ease-out;
}
.technolgyBody .technologypicture{
    width: 500px;
    height: 500px;
    margin-top: 70px;
    background:url("./assets/technology/vehicle.jpg") no-repeat center / cover;
    transition: all 0.8s ease-in-out;
    box-shadow: 0 0 3em rgba(56, 75, 36, 0.9);
    border-radius: 20px;
    animation: techImage 1s ease-in-out;
}
@keyframes techImage {
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes animh5 {
    from{
        opacity: 0;
        transform: translateY(-40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes animh2 {
    from{
        opacity: 0;
        transform: translateX(-40px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes animp {
    from{
        opacity: 0;
        transform: scale(0.5);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
